Source: sterile-pylib
Section: python
Priority: optional
Maintainer: Liraz Siri <liraz@sterilesecurity.com>
Build-Depends: debhelper (>> 4.2.0), python (>= 2.4)
Standards-Version: 3.6.1

Package: sterile-pylib
Architecture: any
Depends: python (>= 2.4), turnkey-pylib
Suggests: python-profiler
Description: Sterile standard Python library

