Source: turnkey-pylib
Section: python
Priority: optional
Maintainer: Alon Swartz <alon@turnkeylinux.org>
Build-Depends:
 debhelper (>= 10),
 python-all (>= 2.6.6-3~),
 python-setuptools,
 dh-python2 (>= 4.20201102+turnkey0),
X-Python-Version: >= 2.6
Standards-Version: 4.0.0

Package: turnkey-pylib
Architecture: any
Depends:
 ${misc:Depends},
 ${python:Depends},
Suggests:
 python-profiler,
Description: TurnKey GNU/Linux standard Python library
